{% extends "generica.html" %}
{% block content %}
<style>
.title-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 25px ;
}
.title-bar-item,
.title-bar-select {
    /* flex: 1; */
    display: inline-flex;
    height: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    margin-right: 20px;
    cursor: pointer;
    padding: 3px;
    color: #363636;
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
}
.title-bar-select {
    /* border-radius: 10px 10px 0 0; */
    
    border-bottom: 2px solid #2c2c2c;
}

/* .title-bar-dr {

    color: #949494;
    
} */
.content {
    position: relative;
    padding:20px 40px 0px 40px;
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
}
.title-bar-item:hover {
    border-bottom: 2px solid #a7a7a7;
}



.subir {
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px auto;
    width: 100%;
    height: calc(100% - 30px);
    padding: 0%;

    flex-direction: column;
    /* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0); */
    /* padding: 5px 40px 5px 40px;  */
  }
.history-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}
.history-item:hover {
    background-color: #f9f9f9;
}
.history-item h4 {
    margin: 0;
    font-size: 1.2em;
}
.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
.status.success {
    background-color: #4caf50;
}
.status.failure {
    background-color: #f44336;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
}
.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 768px) {
    .subir {
        border: 0px solid #ffffff;
        border-radius: 0px;
        margin: 0%;
        width: 100%;
        max-width: 768px;
        height: 100%;
    }
    .container {
        margin-top: 0 ;
        max-width: 768px;
    }
    html, body{
        background-color: #ffffff;
    }
}
</style>

<div class="subir container">
    <div class="title-bar">
        <div class='title-bar-item' onclick="location.href='{% url 'upload_file' %}'">
            <h5 style="margin: 0;">Archivos</h5>
        </div>
        <div class='title-bar-item' onclick="location.href='{% url 'processing' %}'">
            <h5 style="margin: 0;">Procesando</h5>
        </div>
        <div class='title-bar-select'>
            <h5 style="margin: 0;">Historial</h5>
        </div>
    </div>
    <div class="content">
        <h1>Historial de Procesamiento</h1>
        <div id="history-list">
            {% for slide in listSlide %}
            <div class="history-item" data-id="{{ slide.id }}">
                <h4>{{ slide.file_name }}</h4>
                <span class="status {{ slide.status|lower }}">{{ slide.get_status_display }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="position: relative; bottom: 5px; margin: 1% 3% 1% 3%; border-radius: 10px; background-color: rgba(221, 220, 220, 0.8); width: 94%;">
        <button style="width: 100%;" class="btn btn-outline-dark btn-block js-tooltip" type="submit" onclick="location.href='{% url 'Catalogo' %}'">Volver al catálogo</button>
    </div>

    {% if archivo_subido %}
    <div class="alert alert-success mt-3">
        Archivo subido exitosamente.
    </div>
    {% endif %}
</div>
<div id="detailsModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Detalles del Procesamiento</h2>
        <p id="modal-content"></p>
        <div id="modal-buttons" style="display: none;">
            <button id="delete-file" class="btn btn-danger">Borrar archivo</button>
            <button id="reset-slide" class="btn btn-warning">Restablecer</button>
        </div>
    </div>
</div>
<script>
    // JavaScript for modal
    document.addEventListener('DOMContentLoaded', function() {
        var modal = document.getElementById("detailsModal");
        var span = document.getElementsByClassName("close")[0];
        var deleteButton = document.getElementById("delete-file");
        var resetButton = document.getElementById("reset-slide");
        var currentSlideId = null;

        document.querySelectorAll('.history-item').forEach(item => {
            item.addEventListener('click', function() {
                var id = this.getAttribute('data-id');
                currentSlideId = id;

                // console.log(`Enviando solicitud para el id: ${id}`);  // Añade esto
                fetch(`/historial/detalles/${id}/`)
                    .then(response => {
                        console.log(`Respuesta recibida para el id: ${id}`);  // Añade esto
                        return response.json();
                    })
                    .then(data => {
                        // console.log(`Estado recibido: ${data.status}`);  // Verifica el valor aquí
                        document.getElementById("modal-content").innerHTML = `
                            <strong>Nombre del archivo:</strong> ${data.file_name}<br>
                            <strong>Usuario:</strong> ${data.user}<br>
                            <strong>Estado:</strong> ${data.status_display}<br>
                            <strong>Inicio:</strong> ${data.start_time}<br>
                            <strong>Fin:</strong> ${data.end_time}<br>
                            <strong>Duración:</strong> ${data.duration}<br>
                            <strong>Mensaje de Error:</strong> ${data.error_message || 'N/A'}<br>
                            <strong>Archivo asociado:</strong> ${data.raw_slide || 'Sin archivo asociado'}
                        `;
                        if (data.status === 'FAILURE' && data.raw_slide ) {
                            document.getElementById("modal-buttons").style.display = 'block';
                        } else {
                            document.getElementById("modal-buttons").style.display = 'none';
                        }
                        modal.style.display = "block";
                    })
                    .catch(error => {
                        console.error(`Error al obtener los detalles para el id: ${id}`, error);
                    });
            });
        });

        deleteButton.addEventListener('click', function() {
            if (currentSlideId) {
                fetch(`/delete_slide/${currentSlideId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert('Error al eliminar el archivo.');
                    }
                });
            }
        });

        resetButton.addEventListener('click', function() {
            if (currentSlideId) {
                fetch(`/reset_slide/${currentSlideId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                }).then(response => {
                    if (response.ok) {
                        location.reload();
                    } else {
                        alert('Error al restablecer el archivo.');
                    }
                });
            }
        });

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    });
</script>

    
{% endblock %}