<!-- se extiende la plantilla genérica-->
{% extends "generica.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'microscope/css/catalogo.css' %}">
<script>
  val1 = 2;

</script>

<div class="container" style="background-color:rgba(255, 255, 255, 0);flex-direction: column;height: 100%;height: auto;min-height: 100vh;margin-top: 25px;" >
  <div class="separar"></div>  
  <div style="display: flex; flex-wrap: wrap; margin-top: 25px;">
    <div style="width: calc(100% - 250px);min-width: 500px;position: relative;float: left;">
        <a href="?page=1" style="text-decoration: none" onclick="savePage(1)">
            <h1 style="text-align: left;" id="catalog-title">Catálogo Público</h1>
        </a>
    </div>
    


    
    {%load static%} 
     
    
<div class="catalog-options" style="float: left; margin-top: 25px; width: 250px; text-align: right;margin-bottom: 25px;">
    
      
        {% if user.is_authenticated %}
        {% if user.is_staff %}

          <div class="button" style="padding-top: 2px;" onclick="location.href='{% url 'upload_file' %}'">
            <i class="material-icons">note_add</i>
          </div>
      
          <div class="button" style="padding-top:  2px;" onclick="location.href='/catalogo_edit/0'">
              <i  class="material-icons">edit</i>
          </div>
      
          <div class="button" style="padding-top: 2px;" onclick="location.href='/catalogo_edit/1'">
              <i class="material-icons">delete</i>
          </div>
        {% endif %}
        {% endif %}
    </div>
</div>
    <div style="width: 100%; text-align: center;">
        <span class="current">
            Página {{ catalogo.number }} de {{ catalogo.paginator.num_pages }}.
        </span>
    </div>  

    <div class="pagination">
      <span class="step-links">
          {% if catalogo.has_previous %}
              <a href="?page=1{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" onclick="savePage(1)">&laquo; </a>
              <a href="?page={{ catalogo.previous_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" onclick="savePage({{ catalogo.previous_page_number }})">&lsaquo;</a>
          {% else %}
              <span class="hidden">&laquo; </span>
              <span class="hidden">&lsaquo;</span>
          {% endif %}
          
          {% for num in catalogo.paginator.page_range %}
              {% if catalogo.number == num %}
                  <span class="current">{{ num }}</span>
              {% elif num > catalogo.number|add:'-3' and num < catalogo.number|add:'3' %}
                  <a href="?page={{ num }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" onclick="savePage({{ num }})">{{ num }}</a>
              {% elif num == catalogo.number|add:'-3' or num == catalogo.number|add:'3' %}
                  <span class="ellipsis">...</span>
              {% endif %} 
          {% endfor %}
  
          {% if catalogo.has_next %}
              <a href="?page={{ catalogo.next_page_number }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" onclick="savePage({{ catalogo.next_page_number }})">&rsaquo;</a>
              <a href="?page={{ catalogo.paginator.num_pages }}{% if request.GET.buscar %}&buscar={{ request.GET.buscar }}{% endif %}" onclick="savePage({{ catalogo.paginator.num_pages }})"> &raquo;</a>
          {% else %}
              <span class="hidden">&raquo; </span>
              <span class="hidden">&rsaquo;</span>
          {% endif %}
      </span>
  </div>
  

      <div class="product-list">
    {%for slide in catalogo%}
    <div class="product " onclick="location.href='{{ slide.get_absolute_url }}'">
        <img src="{{slide.image.url}}" alt="{{ product.name }}" class="product-image">
        <div class="product-description">
          <h2 class="product-name">{{slide.name}} </h2>
          <p style="font-size: 1rem">{{slide.description}}</p>
        </div>
    </div>
     


{%endfor%}
      </div>
    <div style="width: 100%; text-align: center;">
        <span class="current">
            Página {{ catalogo.number }} de {{ catalogo.paginator.num_pages }}.
        </span>
    </div>  
      <div class="pagination">
        <span class="step-links">
            {% if catalogo.has_previous %}
                <a href="?page=1" onclick="savePage(1)">&laquo; </a>
                <a href="?page={{ catalogo.previous_page_number }}" onclick="savePage({{ catalogo.previous_page_number }})">&lsaquo;</a>
            {% else %}
                <span class="hidden">&laquo; </span>
                <span class="hidden">&lsaquo;</span>
            {% endif %}
            
            {% for num in catalogo.paginator.page_range %}
                {% if catalogo.number == num %}
                    <span class="current">{{ num }}</span>
                {% elif num > catalogo.number|add:'-3' and num < catalogo.number|add:'3' %}
                    <a href="?page={{ num }}" onclick="savePage({{ num }})">{{ num }}</a>
                {% elif num == catalogo.number|add:'-3' or num == catalogo.number|add:'3' %}
                    <span class="ellipsis">...</span>
                {% endif %} 
            {% endfor %}
    
            {% if catalogo.has_next %}
                <a href="?page={{ catalogo.next_page_number }}" onclick="savePage({{ catalogo.next_page_number }})">&rsaquo;</a>
                <a href="?page={{ catalogo.paginator.num_pages }}" onclick="savePage({{ catalogo.paginator.num_pages }})"> &raquo;</a>
            {% else %}
                <span class="hidden">&raquo; </span>
                <span class="hidden">&rsaquo;</span>
            {% endif %}
        </span>
    </div>
    
    <div style="float: left; width: 100%;margin-top: 25px;  text-align: center;margin-bottom: 20px;"></div>
  
</div>

<script>
  function savePage(page) {
      localStorage.setItem('catalogoPage', page);
  }

    window.onload = function() {
        const savedPage = localStorage.getItem('catalogoPage');
        const currentPage = new URLSearchParams(window.location.search).get('page');
        const searchQuery = new URLSearchParams(window.location.search).get('buscar');
        
        if (savedPage && savedPage !== currentPage) {
            let newUrl = `?page=${savedPage}`;
            if (searchQuery) {
                newUrl += `&buscar=${encodeURIComponent(searchQuery)}`;
            }
            window.location.href = newUrl;
        }
    };


    document.querySelector('.search-box').addEventListener('submit', function() {
        localStorage.removeItem('catalogoPage'); // Limpiar localStorage al realizar una nueva búsqueda
        localStorage.setItem('catalogoPage', 1);
    });


</script>

{% endblock %}
