<!-- se extiende la plantilla genérica-->
{% extends "generica.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'microscope/css/catalogo_edit.css' %}">
<script>
  // Definimos una variable llamada 'miVariable' y le asignamos un valor
  val1 = 2;
  function confirmDelete(slideId) {
      const userInput = prompt("Para confirmar la eliminación, escriba 'DELETE':");
      if (userInput === 'DELETE') {
          // Redirigir a la URL de eliminación
          window.location.href = '/deleteSlide/' + slideId;
      } else {
          alert('Eliminación cancelada.');
      }
  }
  // Mostramos el valor de la variable en el elemento HTML con el id 'resultado'
  // document.getElementById("resultado").textContent = miVariable;
</script>
<div class="container" style="background-color:rgba(255, 255, 255, 0);flex-direction: column;height: 100%;height: auto;min-height: 100vh;margin-top: 25px;" >
  <div class="separar"></div>  
  <div style="display: flex; flex-wrap: wrap; margin-top: 25px;">
  <div style="width: calc(100% - 250px);min-width: 500px;position: relative;float: left;">
  {%if delete_edit%}
    <h1 style="margin-top: 25px;margin-bottom: 25px;text-align: left;"> *Eliminar del Catálogo*</h1>
  {%else%}
    <h1 style="margin-top: 25px;margin-bottom: 25px;text-align: left;"> *Editando Catálogo*</h1>

  {%endif%}
</div>
    
    {%load static%} 
     
    
<div class="catalog-options"  style="float: left; margin-top: 25px; width: 250px; text-align: right;margin-bottom: 25px;">
      
        {% if user.is_authenticated %}
        {% if user.is_staff %}

          <div class="button" style="padding-top: 2px;" onclick="location.href='{% url 'upload_file' %}'">
            <i class="material-icons">note_add</i>
          </div>
          {%if delete_edit%}
            <div class="button" style="padding-top: 2px;" onclick="location.href='/catalogo_edit/0'">
              <i class="material-icons">edit</i>
            </div>
        
            <div class="button" style="padding-top: 2px;" onclick="location.href='{% url 'Catalogo' %}'">
                <i class="material-icons">check_circle</i>
            </div>
          {%else%}
            
              <div class="button" style="padding-top: 2px;" onclick="location.href='{% url 'Catalogo' %}'">
              <i class="material-icons">check_circle</i>
              </div>
          
              <div class="button" style="padding-top: 2px;" onclick="location.href='/catalogo_edit/1'">
                  <i class="material-icons">delete</i>
              </div>
            
          {%endif%}
          
        {% endif %}
        {% endif %}
    </div>
  </div>
    <div style="width: 100%; text-align: center;">
      <span class="current">
          Página {{ catalogo.number }} de {{ catalogo.paginator.num_pages }}.
      </span>
  </div>  
    <div class="pagination">
      <span class="step-links">
          {% if catalogo.has_previous %}
              <a href="?page=1" onclick="savePage(1)">&laquo; </a>
              <a href="?page={{ catalogo.previous_page_number }}" onclick="savePage({{ catalogo.previous_page_number }})">&lsaquo;</a>
          {% else %}
              <span class="hidden">&laquo; </span>
              <span class="hidden">&lsaquo;</span>
          {% endif %}
          
          {% for num in catalogo.paginator.page_range %}
              {% if catalogo.number == num %}
                  <span class="current">{{ num }}</span>
              {% elif num > catalogo.number|add:'-3' and num < catalogo.number|add:'3' %}
                  <a href="?page={{ num }}" onclick="savePage({{ num }})">{{ num }}</a>
              {% elif num == catalogo.number|add:'-3' or num == catalogo.number|add:'3' %}
                  <span class="ellipsis">...</span>
              {% endif %} 
          {% endfor %}
  
          {% if catalogo.has_next %}
              <a href="?page={{ catalogo.next_page_number }}" onclick="savePage({{ catalogo.next_page_number }})">&rsaquo;</a>
              <a href="?page={{ catalogo.paginator.num_pages }}" onclick="savePage({{ catalogo.paginator.num_pages }})"> &raquo;</a>
          {% else %}
              <span class="hidden">&raquo; </span>
              <span class="hidden">&rsaquo;</span>
          {% endif %}
      </span>
  </div>
    
    <div class="product-list">
      {%if delete_edit%}
        {%for slide in catalogo%}
          <div class="product" onclick="confirmDelete('{{ slide.id }}')">
            <div class=" product-image-container">
                <img src="{{slide.image.url}}" alt="{{ product.name }}" class="product-image">
                <h1 class="edit-text">Eliminar</h1>
            </div>
            <div class="product-description">
                <h2 class="product-name">{{slide.name}}</h2>
                <p style="font-size: 1rem">{{slide.description}}</p>
            </div>
          </div>
        {%endfor%}
      {%else%}
      {% for slide in catalogo %}
      <div href="#" id="{{ slide.id }}" class="product abrirModal" data-id="{{ slide.id }}">
          <div class="product-image-container">
              <img src="{{ slide.image.url }}" alt="{{ slide.name }}" class="product-image">
              <h1 class="edit-text">Editar</h1>
          </div>
          <div class="product-description">
              <h2 class="product-name">{{ slide.name }}</h2>
              <p style="font-size: 1rem">{{ slide.description }}</p>
          </div>
      </div>
      {% endfor %}
      {%endif%}
    </div>
    

    <div style="width: 100%; text-align: center;">
      <span class="current">
          Página {{ catalogo.number }} de {{ catalogo.paginator.num_pages }}.
      </span>
  </div>  
    <div class="pagination">
      <span class="step-links">
          {% if catalogo.has_previous %}
              <a href="?page=1" onclick="savePage(1)">&laquo; </a>
              <a href="?page={{ catalogo.previous_page_number }}" onclick="savePage({{ catalogo.previous_page_number }})">&lsaquo;</a>
          {% else %}
              <span class="hidden">&laquo; </span>
              <span class="hidden">&lsaquo;</span>
          {% endif %}
          
          {% for num in catalogo.paginator.page_range %}
              {% if catalogo.number == num %}
                  <span class="current">{{ num }}</span>
              {% elif num > catalogo.number|add:'-3' and num < catalogo.number|add:'3' %}
                  <a href="?page={{ num }}" onclick="savePage({{ num }})">{{ num }}</a>
              {% elif num == catalogo.number|add:'-3' or num == catalogo.number|add:'3' %}
                  <span class="ellipsis">...</span>
              {% endif %} 
          {% endfor %}
  
          {% if catalogo.has_next %}
              <a href="?page={{ catalogo.next_page_number }}" onclick="savePage({{ catalogo.next_page_number }})">&rsaquo;</a>
              <a href="?page={{ catalogo.paginator.num_pages }}" onclick="savePage({{ catalogo.paginator.num_pages }})"> &raquo;</a>
          {% else %}
              <span class="hidden">&raquo; </span>
              <span class="hidden">&rsaquo;</span>
          {% endif %}
      </span>
  </div>
  <div style="float: left; width: 100%;margin-top: 25px;  text-align: center;margin-bottom: 20px;"></div>
  
</div>

  
</div>
<div id="miModal" class="modal">
  <div class="modal-contenido">
      <span class="cerrar" id="cerrarModal">&times;</span>
      <h2 id="modal-title">Editar</h2>
      <form method="POST" id="editForm">
          {% csrf_token %}
          <input type="hidden" name="slide_id" id="slide_id">
          {{ form.as_p }}
          <button type="submit" class="boton-enviar btn-primary">Guardar</button>
          <button type="button" class="boton-cerrar btn-danger" id="cerrarModal2">Cancelar</button>
      </form>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var abrirModal = document.querySelectorAll('.abrirModal');
      var modal = document.getElementById('miModal');
      var cerrarModal = document.getElementById('cerrarModal');
      var cerrarModal2 = document.getElementById('cerrarModal2');
      var modalTitle = document.getElementById('modal-title');
      var editForm = document.getElementById('editForm');
  
      abrirModal.forEach(function (boton) {
          boton.addEventListener('click', function () {
              var id = boton.getAttribute('data-id');
              fetch('/get/slide/data/' + id)
                  .then(response => response.json())
                  .then(data => {
                      modalTitle.textContent = 'Editar ' + data.name;
                      document.getElementById('slide_id').value = data.id;
                      document.getElementById('id_name').value = data.name;
                      document.getElementById('id_description').value = data.description;
                      modal.style.display = 'block';
                  });
          });
      });
  
      cerrarModal.addEventListener('click', function () {
          modal.style.display = 'none';
      });
  
      cerrarModal2.addEventListener('click', function () {
          modal.style.display = 'none';
      });
  
      window.addEventListener('click', function (event) {
          if (event.target == modal) {
              modal.style.display = 'none';
          }
      });
  });
  </script>
{% endblock %}

 <!-- <tr class="btn-catalogo" onclick="location.href='{{ slide.get_absolute_url }}'">
          <td>{{slide.name}}  </td>
          <td>{{slide.description}}</td> -->
          <!-- <td><a  href='{{ slide.get_absolute_url }}'>Ver</a> </td>  -->
          <!-- <td> 
           
            <div style="margin-bottom: 2%;margin-left: 10%;padding-bottom: 70%;position:fix;width: 10%" >
    
              <img class="product-image"  src="{{slide.image.url}}" alt="Imagen de Perfil">
            
          </td> -->
          <!-- <td>
              <form  method="get">
                <input type="hidden" name="placaId" value={{slide.id}}>
              <span>
                <button class="btn btn-outline-success js-tooltip" type="submit" >Seleccionar</button>
              </span>
            </form>
          </td> -->
    <!-- </tr> -->