{% extends "generica.html" %}
{% block content %}
<style>
.title-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c9c9c9;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 25px ;
}
.title-bar-item,
.title-bar-select {
    /* flex: 1; */
    display: inline-flex;
    height: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    margin-right: 20px;
    cursor: pointer;
    padding: 3px;
    color: #363636;
    transition: background-color 0.3s; /* Transición de color al pasar el mouse */
}
.title-bar-select {
    /* border-radius: 10px 10px 0 0; */
    
    border-bottom: 2px solid #2c2c2c;
}

/* .title-bar-dr {

    color: #949494;
    
} */
.content {
    position: relative;
    padding:20px 40px 0px 40px;
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
}
.title-bar-item:hover {
    border-bottom: 2px solid #a7a7a7;
}



.subir {
    border: 1px solid #dddddd;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px auto;
    width: 100%;
    height: calc(100% - 30px);
    padding: 0%;

    flex-direction: column;
    /* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0); */
    /* padding: 5px 40px 5px 40px;  */
  }
  .modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-contenido {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 60%;
}
.cerrar {
  color: #aaaaaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.content {
    position: relative;
    padding:20px 40px 0px 40px;
    height: calc(100% - 130px);
    width: 100%;
    overflow-y: scroll;
}
.boton-cerrar {
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-enviar {
  padding: 8px 16px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.processing-item {
    width: 90%;
    display: flex;
    align-items: center;
    height: 30px;
    margin: 10px 0;
}

.file-name-container {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-name {
    margin: 0;
}

.progress-container {
    width: 50%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    width: 0;
}

.spinner {
    width: 30px;
    height: 30px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

.completed-icon {
    font-size: 30px;
    color: #4caf50;
    margin-left: 10px;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (max-width: 768px) {
    .subir {
        border: 0px solid #ffffff;
        border-radius: 0px;
        margin: 0%;
        width: 100%;
        max-width: 768px;
        height: 100%;
        /* padding: 0%; */
        /* box-shadow: 1px 1px 3px rgba(255, 255, 255, 0); */
        /* padding: 5px 40px 5px 40px;  */
    }
    .container {
        margin-top: 0 ;
        max-width: 768px;
    }
    html, body{
        background-color: #ffffff;
    }
}
</style>

<div class="subir container" >
    <!-- <div class="title-bar">
        <div class = 'title-bar-iz'  onclick="location.href='{% url 'upload_file' %}'">
            
                <h5 style="margin: 0;"  >Archivos</h1>
           
        </div>
        <div class = 'title-bar-dr'>
            <h5 style="margin: 0;">Procesando</h1>
        </div>
    </div> -->
    <div class="title-bar">
        
        <div class = 'title-bar-item' onclick="location.href='{% url 'upload_file' %}'">
            <h5 style="margin: 0;"  >Archivos</h1>
        </div>
        <div class = 'title-bar-select'>
            
            <h5 style="margin: 0;">Procesando</h5>
       
    </div>
        <div class = 'title-bar-item' onclick="location.href='{% url 'activity_log' %}'">
            <h5 style="margin: 0;"  >Historial</h1>
        </div>
    </div>
    <div class="content">
        <!-- <div style="height: 49%;overflow-y: scroll;"> -->
        <div style="margin: 0% 0% 3% 0%; padding-top: 60px; padding-right: 0px;height: calc(100% - 85px);overflow-y: scroll;">
            <hr style="margin: 0;">
            {% for slide in listSlide %}
            <div class="processing-item">
                <div class="file-name-container">
                    <h4 class="file-name">{{ slide.name }}</h4>
                </div>
                <div class="progress-container">
                    <div id="progress-bar-{{ slide.id }}" class="progress-bar"></div>
                </div>
                <div id="spinner-{{ slide.id }}" class="spinner"></div>
                <i id="completed-icon-{{ slide.id }}" class="material-icons completed-icon" style="display: none;">check_circle</i>
            </div>
            <hr style="margin: 0;">
        {% endfor %}
        </div>
    </div>

        <div style = "position: relative;bottom: 5 px;margin: 1% 3% 1% 3%;border-radius:10px; background-color:rgba(221, 220, 220, 0.8);width:94%">
            <button style=" width: 100%;" class="btn btn-outline-dark  btn-block js-tooltip" type="submit" onclick="location.href='{% url 'Catalogo' %}'">Volver al catálogo</button>
        </div>

        
        {% if archivo_subido %}
            <div class="alert alert-success mt-3">
                Archivo subido exitosamente.
            </div>
        {% endif %}
        
        </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        {% for slide in listSlide %}
            (function() {
                let taskId = '{{ slide.task_id }}';  // Asegúrate de que cada slide tenga su task_id asociado
                let slideId = '{{ slide.id }}';

                function updateProgress(taskId, slideId) {
                    $.ajax({
                        url: `/task_status/${taskId}/`,
                        success: function(response) {
                            let percentComplete = (response.current / response.total) * 100;
                            $(`#progress-bar-${slideId}`).css('width', percentComplete + '%').text(Math.round(percentComplete) + '%');

                            if (response.current < response.total) {
                                setTimeout(function() {
                                    updateProgress(taskId, slideId);
                                }, 5000);  // Actualizar cada 5 segundos
                            } else {
                                $(`#spinner-${slideId}`).hide();
                                $(`#completed-icon-${slideId}`).show();
                            }
                        },
                        error: function(xhr, status, error) {
                            alert('Error al consultar el estado del task');
                        }
                    });
                }

                updateProgress(taskId, slideId);
            })();
        {% endfor %}
    });
</script>

    
{% endblock %}